/**
 * horizontal metrics
 */

.ns-horizontal-label {
	text-align: right;
}

.ns-horizontal-unit-label {
	font-size: 80%;
}

.ns-horizontal-icon {
	text-align: left;
}

/**
 * vertical metrics
 */

.ns-vertical-label {
	font-size: 65%;
	text-align: right;
}

.ns-vertical-unit-label {
	font-size: 65%;
}

.ns-vertical-icon {
	font-size: 65%;
	text-align: left;
}

/**
 * menu items
 */

.ns-menuitem {
}
