/* Example stylesheet */
.ns-label {
/*    color: #bbb; */
	text-align: right;
	padding-top: 3px;
}

.ns-unit-label {
/*    color: #aaa; */
	font-size: 65%;
	padding: 6px 2px 0px 0px;
}

.ns-menuitem {
}
